<!DOCTYPE html>
<html>
  <head>
    <title>MovieSearch</title>
    <meta charset="utf-8" />
    <meta name="description" content="Movie Searching" />

    <!-- Import font-awesome icons -->
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"/>

    <!-- order of CSS files is important (this is the "Cascade" part of CSS) -->

    <!-- global.css contains resets, custom properties, and utility classes -->
    <link rel="stylesheet" href="static/css/global.css" />
    <!-- start from the top-level component and work your way down -->
    <link rel="stylesheet" href="static/css/app.css" />
    <link rel="stylesheet" href="static/css/app-header.css" />
    <link rel="stylesheet" href="static/css/header-dropdown.css" />
    <link rel="stylesheet" href="static/css/app-footer.css" />
    <link rel="stylesheet" href="static/css/category.css" />
    <link rel="stylesheet" href="static/css/category-book-list.css" />
    
  </head>
  <body>
    
      <header class="container">   
          <h1 class="text-logo" style="font-size: 2em;">MovieSearch</h1>    
      </header>
      <main class="main-container">
        <section class="query-section">
          <div class="page-title-div">
            <h1 class="category-page-title">Enter a Query</h1>
          </div>
        <section class="container dark-background">
          <div id="message-container" class="message-container">
          </div>
            <section class="search-bar-section">
                <div class="search-bar-div">
                    <form id="user-input-form" action='/getLLMResponse' method="post">
                        <button type='submit'class="search-button"><i class="icon-search"></i></button>
                        <input type="text" name='search-input' class="search-bar" placeholder="Search" id="search-input"/>
                    </form>
                </div>
            </section>
            <button class="buy-now-button" id="clearButton">Clear Memory</button>

            </section>
        </section>


        <section class="search-results" >
          <div class="page-title-div">
            <h1 class="category-page-title">Search Results</h1>
          </div>
          <div class="results-grid">
            <div class="book-boxes" id='movies-container'>

              </div>

                    
              </div>
              </div>
        </section>
    

      </main>
      <footer class="container"> 
      <section class="links">
          <div class="find-about-contact">
          <a class="button" href=>About</a>
          <a class="button" href=>Contact</a>
      </div>
        </section>
        
      </footer>
    <script src="static/js/animations.js"></script>
  </body>
</html>
